{{define "header"}}
<h5>Create a new Tool Entry< /h5>
{{end}}

{{define "content"}}
<form action="/tool-entry/new" method="POST">
    {{.CSRF}}
    <div class="form-group">
        <label></label>
        <input name="tool" type="" class="form-control {{with .Form.Errors.Tool}}is-invalid{{end}}"
            placeholder="Select a Tool" value="{{with .Form.Tool}}{{.}}{{end}}">
        {{with .Form.Errors.Tool}}
        <div class="invalid-feedback">{{.}}</div>
        {{end}}
    </div>
    <div class="form-group">
        <label>Text</label>
        <textarea name="content" class="form-control {{with .Form.Errors.Content}}is-invalid{{end}}" rows="3"
            placeholder="Tell people about your thoughts">
            {{- with .Form.Content}}{{.}}{{end -}}
        </textarea>
        {{with .Form.Errors.Content}}
        <div class="invalid-feedback">{{.}}</div>
        {{end}}
    </div>
    <button type="submit" class="btn btn-primary">Submit Post</button>
</form>
{{end}}